{% extends 'mailing/base.html' %}

{% block title %}Попытки рассылки{% endblock %}
{% block header %}Попытки рассылки{% endblock %}
{% block content %}
<div class="container mt-4">
    {% if is_manager or mailing.owner == user %}
    <table class="table">
        <thead>
            <tr>
                <th>Рассылка</th>
                <th>Дата и время</th>
                <th>Статус</th>
                <th>Ответ сервера</th>
            </tr>
        </thead>
        <tbody>
            {% for attempt in attempts %}
            <tr>
                <td>{{ attempt.mailing }}</td>
                <td>{{ attempt.timestamp }}</td>
                <td>{{ attempt.get_status_display }}</td>
                <td>{{ attempt.server_response }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}
